**__pycache__**
**.pytest_cache**
**.venv**
**.vscode**
**.idea**
**.env**
**.env.local**
**.env.example**
**.env.development.local**
**.env.test.local**
**.env.production.local**
**.DS_Store**
test.db

# Node modules
node_modules
**/node_modules
**/node_modules/**

**LLMExperiment/**